<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="content-info">
        <p><small>Copyright &copy; Sergio Bobillier</small></p>
      </footer>
    </div>
  </div>
</div>
